.navbar {
  background-color: black;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0px;
  z-index: 1;
}

.navbar .navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar .navbar-logo {
  color: White;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 2rem;
}

.navbar .nav-item {
  height: 80px;
}

.navbar .nav-links {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: White;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1rem;
  height: 100%;
}

.navbar .nav-links:hover {
  color: yellow;
}

.navbar .fa-bars {
  color: White;
}

.navbar .menu-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

@media screen and (max-width: 498px) {
  .navbar-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .navbar-logo {
    display: inline-block;
  }
}

.hero-container {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("https://images.unsplash.com/photo-1598632604495-49431163fda6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://images.unsplash.com/photo-1598632604495-49431163fda6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 700px;
  position: relative;
}

.hero-container h1 {
  color: White;
}

.hero-container p {
  color: White;
}

.hero-container .hero-text {
  font-family: serif;
  padding: 5%;
  font-size: 50px;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 50%;
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-container .image {
  width: 100%;
  height: 50%;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px yellow;
          box-shadow: 0 0 15px yellow;
}

.slider-container .right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slider-container .left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slider-container .slide {
  opacity: 0;
  -webkit-transition-duration: 1s ease;
          transition-duration: 1s ease;
}

.slider-container .slide.active {
  opacity: 1;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (max-width: 768px) {
  .slider-container {
    margin-top: 125px;
  }
}

.footer-container {
  text-align: center;
  background-color: black;
  color: white;
  padding-top: 0px;
  display: block;
}

.footer-container .fa {
  padding: 20px;
  font-size: 25px;
  width: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin: 7px 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px yellow;
          box-shadow: 0 0 15px yellow;
}

.footer-container .fa:hover {
  opacity: 0.7;
}

.footer-container .fa-facebook {
  background-color: #3B5998;
  color: white;
}

.footer-container .fa-twitter {
  background-color: #04456d;
  color: white;
}

.footer-container .fa-instagram {
  background-color: #d6249f;
  color: white;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid black;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px yellow;
          box-shadow: 0px 0px 10px yellow;
  margin: 10px 10px 10px 10px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  color: white;
}

.card-container .card-product {
  margin: 20px;
  padding: 10px;
  height: 800px;
  width: auto;
}

.card-container .image {
  height: 400px;
  width: 400px;
  border-radius: 10px;
  background-color: white;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.card-container .title {
  font-size: 25px;
}

.card-container .price {
  font-size: 20px;
  color: red;
}

.card-container .descript {
  font-size: 20px;
}

.card-container .btn {
  padding: 20px 50px;
  background-color: grey;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
}

.cardList-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 10px 10px;
}

@media screen and (max-width: 768px) {
  .cardList-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    width: 500px;
    padding: 10px;
    margin: auto;
  }
  .card-product {
    margin: 50px;
    padding: 50px;
    height: 1200px;
    width: 100px;
  }
}

@media screen and (max-width: 375px) {
  .cardList-container {
    display: inline-block;
  }
  .card-product {
    height: 1500px;
    margin: 50px;
    padding: 50px;
  }
}

.form-container {
  -webkit-box-shadow: 0px 0px 20px yellow;
          box-shadow: 0px 0px 20px yellow;
  background-image: url(https://i.pinimg.com/originals/4a/43/4b/4a434b71d8cdeac5b505c5645eb6fd10.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px auto 50px auto;
  padding: 10px;
  max-width: 50%;
  text-align: center;
}

.form-container .form-header {
  color: black;
  font-size: 100px;
}

.form-container .form-label {
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.form-container .form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 5px;
  border: 2px solid black;
  height: 40px;
  width: 100%;
}

.form-container .text-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 5px;
  border: 2px solid black;
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
}

.form-container .form-input-btn {
  padding: 20px 50px;
  background-color: yellow;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
}

.form-container .errors {
  color: #a70404;
  font-weight: bold;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .form-container {
    width: 1000px;
  }
  .form {
    width: 100%;
  }
}

.drop-down {
  width: 400px;
  height: 40px;
  margin: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px yellow;
          box-shadow: 0px 0px 20px yellow;
}

body {
  margin: -12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  text-align: center;
  background-color: black;
}

body .products-header {
  color: white;
  font-size: 100px;
  text-shadow: 0px 0px 20px grey;
}

.info-container {
  margin-top: 50px;
}

.info-container .title {
  text-align: center;
  font-size: 2rem;
  color: white;
  padding: 2% 0;
  text-shadow: -4px 4px 20px #ffff00;
}

.info-container .info-text {
  color: white;
  width: 800px;
  text-align: center;
  margin: auto;
  font-size: 20px;
  margin-bottom: 50px;
}

.Contact-header {
  color: white;
  font-size: 60px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media screen and (max-width: 800) {
  .navbar {
    display: inline-block;
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */