
$primary-color: White;
$back-color: black;
$secondary-color: yellow;

@import '../Components/Navbar/navbar';
@import '../Components/Hero/hero';
@import '../Components/Hero/sliderimages';
@import '../Components/Footer/footer';
@import '../Components/Card/card';
@import '../Components/Form/form';
@import '../Components/Filter/filter';

body {
  margin: -12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  text-align: center;
  background-color: $back-color;
  .products-header {
    color: white;
    font-size: 100px;
    text-shadow: 0px 0px 20px grey;
  }
}
.info-container {
  margin-top: 50px;
  .title {
    text-align: center;
    font-size: 2rem;
    color: white;
    padding: 2% 0;
    text-shadow: -4px 4px 20px #ffff00;
  }
  .info-text {
    color: white;
    width: 800px;
    text-align: center;
    margin: auto;
    font-size: 20px;
    margin-bottom: 50px;
  }
}
.Contact-header {
  color: white;
  font-size: 60px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width:800) {
  .navbar {
      display: inline-block;
      width: 100%;
  }
}
